version: "3.8"

services:
  go-app:
    container_name: go-app
    build: .
    env_file:
      - .env
    ports: 
      - "${SERVER_PORT}:${SERVER_PORT}"
    environment:
      - DB_HOST=database 
    depends_on:
      - database
    networks:
      - go_api_network

  database:
    image: postgres:latest
    container_name: pg-go-api-1
    restart: always
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    ports:
      - "${DB_PORT}:5432"
    networks:
      - go_api_network
    volumes:
      - database_data:/var/lib/postgresql/data

networks:
  go_api_network:
    driver: bridge

volumes:
  database_data: